@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600&display=swap');
@import "swiper/css/bundle";
@import "swiper/css";
@import "swiper/css/pagination";
@layer base {
  *,
  ::after,
  ::before {
    box-sizing: inherit;
    border-width: 0px;
    border-color: none;
    border-style: none;
  }
}
*{
  cursor: none;
}
@font-face {
  font-family:'Hazaru';
  src:local('Hazaru') , url(../public/fonts/Aquire-BW0ox.otf);
}
@font-face {
  font-family: 'Witches';
  src:local('Witches') , url(../public/fonts/Madrigal-mLJ92.woff);
}
html,
body {
  background-color: #000;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #000311;
  border-radius: 50%;
  z-index: 1000;
  pointer-events: none;
}
@media screen and (max-width: 1500px) {
  .container {
    max-width: 90vw;
    margin: auto;
  }
}

@media screen and (min-width: 1501px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }
}

.inner-container{
  max-width: 80vw;
  margin: auto;
}
.overlay {
  background: linear-gradient(179.95deg, rgba(0, 0, 0, 0.19) 3.29%, rgba(0, 0, 0, 0.53) 30.03%, #000000d3 99.96%);
  padding: 4rem 0;
}









// ----------------------------------------------------------------
.hero {
  font-size: clamp(40px, 10vw, 100px);
  // display: inline-block;
  color: #fff;
  z-index: 2;
  filter: drop-shadow(0 1px 3px);
}

.sec-1{
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: url(../public/images/pok-t.png) no-repeat center/cover;
    background-attachment: fixed;    

   animation: glitch 10s infinite ease-in-out;
  @keyframes glitch {
     0%{
      filter: hue-rotate(0deg);
     }
      20%{
      filter: hue-rotate(90deg);
     }
     40%{
      filter: hue-rotate(180deg);
     }
     60%{
      filter: hue-rotate(360deg);
     }
     100%{
      filter: hue-rotate(720deg);
     }
  
}
  }
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
.over{
    background: linear-gradient(180deg, rgba(171, 169, 169, 0) 0%, #010101 100%);
    z-index: 20;
  }
.sec2{
  z-index: 10;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../public/images/check-t.png);
    z-index: -1;
    
  }
  .player{
    background:linear-gradient(180deg, rgba(7, 7, 7, 0.249) 0%, #010101 100%) , url(../public/images/v1.png) no-repeat center/cover  ;
    // background-blend-mode: m;
  }
}

